Main/Includes/PHP/queries.php
Main/Includes/PHP/queries.php
*.iml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
Main/Includes/CSS/main.css
Main/Includes/CSS/main.css
Main/Includes/CSS/main.css
Main/Includes/CSS/main.css

*.config
Admin_Portal/Pages/bachelors.php

\.DS_Store
Client_Portal/Pages/bachelorGroup/profile.php

README\.html
Mentor_Portal/Uploads/profilePictures/Testmentor1.jpg
Mentor_Portal/Uploads/profilePictures/KFAP69XF9C
Mentor_Portal/Uploads/profilePictures/141125internationalstudent-mentor-stock.jpg
*.txt
Main/Includes/PHP/queries.php
Main/Includes/LESS/style/style.less
