#wrapper-login {
  font-family: "open-sans", Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  display: none;
  .row {
    margin: 0;
  }

  main {
    width: 100%;
    background-image: url("../../Files/Images/stockImages/stock (20).jpg");
    background-size: cover;
    background-position: center;

    .login {
      background-color: rgba(0, 153, 255, 0.9);
      height: 100%;
    }

    .login_col {
      margin: 0;
      height: 100vh;
			max-height: 100vh;
      .login_block {
        text-align: center;
        background-color: white;
        margin: 150px;
        padding: 30px;
				margin-bottom: 0;
        img {
          width: 40%;
          margin: 5px;
        }

        form {

          input {
            text-align: left;
            margin: 5px;
            padding: 7px;
            background-color: @offwhite;
						border: none;
            font-size: 18px;
            width: 100%;
            transition: 0.2s ease;
            &:focus {
              outline: @blue solid;
              transition: 0.2s ease;
							background-color: white;
            }
          }
          a {
            text-align: left;
            text-decoration: none;
            color: @blue;
            transition: 0.2s ease;
            display: inherit;
            margin: 6px;
            &:hover {
              color: @grey;
              text-decoration: none;
              transition: 0.2s ease;
            }
          }
          .button {
            background-color: @blue;
            color: white;
            transition: 0.3s ease;
            &:hover {
              transition: 0.3s ease;
              background-color: @grey;
            }
						&:focus {
							transition: 0.3s ease;
							background-color: @offwhite;
							outline: none;
							color: @blue;
						}
          }
          #error {
            color: red;
            text-align: left;
            margin: 6px;
            display: inherit;
          }
        }
      }
    }
  }
}

// Admin page styling

#wrapper-admin {

  h1 {
    color: @blue;
  }
}

#wrapper-nav {

	background-color: @offwhite;

	main {
		width: 100%;
		height: 100%;

		#nav
		{
			width: 100%;
			height: 80px;
			position: absolute;
			background-color: @white;

			#logo {
				height: 80px;
				position: relative;
				float: left;
				padding: 0 0 0 2%;
			}

			h4 {
				position: relative;
				vertical-align: middle;
				color: @grey;
				margin: 0;
				line-height: 80px;
				.user {
					color: @blue;
				}
			}

			#left{
				float: left;
				padding: 0 0 0 1.5%;
			}

			#right {
				float: right;
				padding: 0 2% 0 0;

				a{
					color: @grey;
					padding: 0 5px 0 0;
					text-decoration: none;

					&:hover{
						color: @blue;
					}
				}
			}

			#clientswitch{
				margin-left: 30%;
				position: relative;

			}

			#client{
				float: left;
			}

			#mentor{
				float: left;
			}

			.blue{
				color: @blue;
			}

			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;
				float: left;
				margin: 23px 1% 0 1%;
			}

			.switch input
			{
				display:none;

				&:hover{
					cursor: pointer;
				}
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: @blue;
				-webkit-transition: .4s;
				transition: .2s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			}

			input:checked + .slider {
				background-color: @blue;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px @blue;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}

			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}

			#searchdiv{
				height: 80px;
				padding: 0 2% 0 0;
				position: relative;
				display: inline-block;
				float: right;

					#searchbar{
						outline: none;
						float: right;
						font-family: "Open Sans";
						font-style: italic;
						border-color: @grey;
						border-style: solid;
						border-width: 1px;
						margin: 12.5% 0 0 0;
						padding: 2px 10px 2px 10px;
						font-size: 15px;
						line-height: 30px;
						position: relative;
					}
			}

			.filter
			{
				position: relative;
				display: inline-block;
				float: right;
				height: 80px;
				padding: 0 2% 0 0;

				.filterbtn{
					font-size: 15px;
					font-style: italic;
					font-family: "Open Sans";
					outline: none;
					border-color: @grey;
					border-style: solid;
					border-width: 1px;
					padding: 2px 10px 2px 10px;
					line-height: 30px;
					margin: 12.5% 0 0 0;
				}

				.filter-content{
					display: none;
					background-color: @white;
					position: absolute;
					min-width: 160px;
					z-index: 1;
					outline: none;
					border-color: @grey;
					border-style: solid;
					border-width: 1px;
					border-bottom: none;
					border-top: none;
				}

				.filter-content a{
					color: black;
					padding: 8%;
					text-decoration: none;
					display: block;
					border-bottom: solid;
					border-color: @grey;
					border-width: 1px;
				}

				.filter-content a:hover{
					background-color: @offwhite;
				}

				.show{
					display:block;
				}
			}
		}
	}
}