#wrapper-login {
  font-family: "open-sans", Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  display: none;
  .row {
    margin: 0;
  }

  main {
    width: 100%;
    background-image: url("../../Files/Images/stockImages/stock (20).jpg");
    background-size: cover;
    background-position: center;

    .login {
      background-color: rgba(0, 153, 255, 0.9);
      height: 100%;
    }

    .login_col {
      margin: 0;
      height: 100vh;

      .login_block {
        text-align: center;
        background-color: white;
        margin: 150px;
        padding: 30px;

        img {
          width: 40%;
          margin: 5px;
        }

        form {

          input {
            text-align: left;
            margin: 5px;
            padding: 7px;
            background-color: @offwhite;
            border: none;
            border: solid thin white;
            font-size: 18px;
            width: 100%;
            transition: 0.3s ease;
            &:focus {
              border: none;
              background-color: white;
              border: solid thin @blue;
              transition: 0.3s ease;
            }
          }
          a {
            text-align: left;
            text-decoration: none;
            color: @blue;
            transition: 0.3s ease;
            display: inherit;
            margin: 6px;
            &:hover {
              color: @grey;
              text-decoration: none;
              transition: 0.3s ease;
            }
          }
          .button {
            background-color: @blue;
            color: white;
            transition: 0.3s ease;
            &:hover {
              transition: 0.3s ease;
              background-color: @grey;
            }
          }
          #error {
            color: red;
            text-align: left;
            margin: 6px;
            display: inherit;
          }
        }
      }
    }
  }
}

// Admin page styling

#wrapper-admin {

  h1 {
    color: @blue;
  }
}

#wrapper-nav {
  background-color: @offwhite;

  main {
    width: 100%;
    height: 100%;

    #nav {
      width: 100%;
      height: 80px;
      position: absolute;
      background-color: @white;

      #logo {
        height: 80px;
        position: relative;
        float: left;
        padding: 0 0 0 2%;
      }

      h4 {
        position: relative;
        vertical-align: middle;
        color: @grey;
        margin: 0;
        line-height: 80px;
        #user {
          color: @blue;
        }
      }

      #left {
        float: left;
        padding: 0 0 0 1.5%;
      }

      #right {
        float: right;
        padding: 0 2% 0 0;

        a {
          color: @grey;
          padding: 0 5px 0 0;
        }
      }

      #searchbar {
        outline: none;
        float: right;
        font-family: "Open Sans";
        font-style: italic;
        border-color: @grey;
        border-style: solid;
        border-width: 1px;
        margin: auto 2% 0 0;
        padding: 2px 10px 2px 10px;
        font-size: 15px;
      }

      /* Dropdown Button */
      .dropbtn {
        font-size: 15px;
        font-style: italic;
        font-family: "Open Sans";
        outline: none;
        border-color: @grey;
        border-style: solid;
        border-width: 1px;
        padding: 2px 10px 2px 10px;
      }

      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
        float: right;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        outline: none;
        border-color: @grey;
        border-style: solid;
        border-width: 1px;
      }

      /* Links inside the dropdown */
      .dropdown-content a {
        color: @grey;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        background-color: #f1f1f1
      }

      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {
        display: block;
      }
    }
  }
}